@font-face {
  font-family: "18F Nimbus Sans L";
  src: url("fonts/18FNimbusSansL-regular.ttf");
}

@font-face {
  font-family: "18F Nimbus Sans L";
  src: url("fonts/18FNimbusSansL-italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "18F Nimbus Sans L";
  src: url("fonts/18FNimbusSansL-bold.ttf");
  font-weight: bold;
}

:root {
  --white: #ffffff;
  --light: #b3efff;
  --bright: #00cfff;
  --medium: #046b99;
  --dark: #1c304a;
  --black: #000000;
}

html {
  font-family: "18F Nimbus Sans L";
  font-size: 2rem;
}

svg.logo-18f {
  width: 1em;
  height: 1em;
}

.white {
  color: var(--white);
  fill: var(--white);
}

.light {
  color: var(--light);
  fill: var(--light);
}

.bright {
  color: var(--bright);
  fill: var(--bright);
}

.medium {
  color: var(--medium);
  fill: var(--medium);
}

.dark {
  color: var(--dark);
  fill: var(--dark);
}

.black {
  color: var(--black);
  fill: var(--black);
}

.on-white {
  background-color: var(--white);
}

.on-light {
  background-color: var(--light);
}

.on-bright {
  background-color: var(--bright);
}

.on-medium {
  background-color: var(--medium);
}

.on-dark {
  background-color: var(--dark);
}

.on-black {
  background-color: var(--black);
}

/**
 * Be bossy and complain when 508-unfriendly color combinations
 * are used by replacing them with garish colors (which, coincidentally,
 * happen to have an excellent contrast ratio).
 */

.white.on-bright,
.white.on-light,
.white.on-white,
.light.on-medium,
.light.on-bright,
.light.on-light,
.light.on-white,
.bright.on-medium,
.bright.on-bright,
.bright.on-light,
.bright.on-white,
.medium.on-black,
.medium.on-dark,
.medium.on-medium,
.medium.on-bright,
.medium.on-light,
.dark.on-black,
.dark.on-dark,
.dark.on-medium,
.black.on-black,
.black.on-dark,
.black.on-medium {
  color: black;
  fill: black;
  background-color: red;
}
